*{
    margin: 2px;
    padding: 0;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
   background-color:#84c7e3;
   transition: 0.1s;
}
.box:hover{
    background-color: red;
}